{% extends 'base.html' %}

{% block title %} {{ game.teams.all }} {% endblock %}
{% block content %}
<div class="game-detail">
	<div class="game">
		<table class="center" id="t01">
			<tr>
				<th>
					{{ game.homeTeam.city }} {{ game.homeTeam.name }} vs. {{ game.visitingTeam.city }} {{ game.visitingTeam.name }}
				</th>
			</tr>
			<tr>
				<td>
					{{ game.homeTeam.city }} {{ game.homeTeam.name }}: {{ game.homeScore }}, 
					{{ game.visitingTeam.city }} {{ game.visitingTeam.name }}: {{ game.visitingScore }}
				</td>
		</table>
	</div>
</div>
{% endblock %}